 
 .titulo{
   text-align: center;
 }
.ok{
  border-color:green;

}
.bad{
  color:red;
}

label,input,.deptos{
 font-family: sans-serif;
  padding: 3px;
  border-radius: 5px;
  display: flex;
  margin-left: 4%;
  
  height: 20px;
  width: 300px;
}
input{
  padding-top: 1.3rem;
  font-size: larger
  ;
}
.deptos{
  font-family: sans-serif;
   padding: 3px;
   border-radius: 5px;
   display: flex;
   margin-left: 4%;
   height: 30px;
   width: 310px;
 }


.botonEnviar{
  
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: #07661e
  }
  .botonEnviar:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left:8px;
  }
  .botonEnviar:hover:after {
    opacity: 1;
    right: 10px;
  }
  .botonEnviar:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
  }
